<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOMB CRYPTO 2</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
<div class="bg">
    <img src="./images/btnLoginMM.png" id="btn_connect_MM" alt="" onClick="LoginMetaMask()" /> <br/>
    <h4 class="txt"></h4>
    <!-- <h4 class="txt">Network: Binance Smart Chain (BEP20)<br/>Token: BOMB ( <a href="https://bscscan.com/address/0xe9e7cea3dedca5984780bafc599bd69add087d56" target="_blank">0xe9e7...</a> )<br/>
        NFT Fish Contract: <a href="https://bscscan.com/address/0xE1F27810Cb309f8E46001c138faacFd565323bD8#code" target="_blank">0xE1F2...</a>
    </h4> -->

    <h2 id="installMM">Please install Metamask, thank you.</h2>
</div>

<script src="./js/jquery.js"></script>
<script src="./scripts/web3.min.js"></script>
<script src="./js/login.js"></script>
<script>

</script>
</body>
</html>